<% include ../partials/header %>
<main>
    <section>
        <div class="jumbotron text-light rounded-0">
            <div class="container">
                <div class="border bg-secondary d-inline-block p-3">
                    <h1>Education Is the Best Legacy</h1>
                    <p>Let Get Started</p>
                </div>
            </div>
        </div>
        <div class="container" id="about">
            <div class="row justify-content-between text-center">
                <div class="col-md-3 col-sm-6">
                    <p class="display-4">Our Aim</p>
                    <p>
                        We aim to create a supportive community where every student can thrive. We represent student interests,
                        promote cooperation, and enhance the student experience.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="display-4">Agenda</p>
                    <p>
                        Our agenda focuses on fostering a dynamic campus environment. We plan events, workshops, and initiatives that cater to
                        diverse student interests and address key issues.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="display-4">Aspiration</p>
                    <p>
                        We aspire to shape a better future for students and the wider community. We aim to cultivate leaders, innovators, and
                        compassionate individuals ready to tackle global challenges.
                    </p>   
                </div>
            </div>
        </div>
    </section class="mb-4">
    <section class="mt-4">
        <!-- Swiper -->
        <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" style="background-image:url(http://lorempixel.com/1000/1000/nightlife/2)">Advertise here</div>
                  <div class="swiper-slide">Advertise here</div>
                  <div class="swiper-slide">Advertise here</div>
                  <div class="swiper-slide">Advertise here</div>
                  <div class="swiper-slide">Slide 5</div>
                  <div class="swiper-slide">Slide 6</div>
                  <div class="swiper-slide">Slide 7</div>
                  <div class="swiper-slide">Slide 8</div>
                  <div class="swiper-slide">Slide 9</div>
                  <div class="swiper-slide">Slide 10</div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
        </div>
    </section>
        
    <section id="excos">
        <!-- Excoshttp://www.mediafire.com/convkey/d6d4/vtccqbfo627o7bazg.jpg -->
        <h4 class="text-center my-5">Excos</h4>
        <div class="container ">
            <div class="row exco text-center justify-content-center">
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <img style="width:80%; height: 55%; margin: 0 auto;" src="/assets/IMG-20190405-WA0000.jpg" class="card-img-top rounded-circle" alt="">
                <h5 class="mt-3">Sport Director</h5>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <img style="width:80%; height: 55%; margin: 0 auto;" src="/assets/IMG-20190405-WA0004.jpg" class="card-img-top rounded-circle" alt="">
                    <h5 class="mt-3">Treasurer</h5>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <img style="width:80%; height: 55%; margin: 0 auto;" src="/assets/IMG-20190405-WA0007.jpg" class="card-img-top rounded-circle" alt="">
                    <h5 class="mt-3">Vice President</h5>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <img style="width:80%; height: 55%; margin: 0 auto;" src="/assets/IMG-20190405-WA0006.jpg" class="card-img-top rounded-circle" alt="">
                    <h5 class="mt-3">General Secretary</h5>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <img style="width:80%; height: 55%; margin: 0 auto;" src="/assets/IMG-20190405-WA0008.jpg" class="card-img-top rounded-circle" alt="">
                    <h5 class="mt-3">President</h5>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <img style="width:80%; height: 55%; margin: 0 auto;" src="/assets/IMG-20190405-WA0005.jpg" class="card-img-top rounded-circle" alt="">
                    <h5 class="mt-3">Financial Secretary</h5>
                </div>
            </div>

        </div>
    </section>
            
            <!--  -->
    <section id="activities">
            <div class="container mb-4">
                    <div class="row heading justify-content-center">
                        <div class="col-5 text-dark d-none d-md-block"><hr></div><div class="col-2"><h3 class="text-center mb-3 text-success">Activities</h3></div><div class="col-5 d-none d-md-block"><hr></div>
                    </div>
            </div>
                <!-- activities -->
                <div class="jumbotron act">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-3 col-sm-6">
                                <div class=" activities" id="action" >
                                    <span style="font-size: 4.0em;"><i class="fas fa-graduation-cap"></i></span>
                                    <p style="font-size: 1.5em; font-weight:600;">Action</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class=" activities" id="education">
                                    <span style="font-size: 4.0em;"><i class="fas fa-university"></i></span>
                                    <p style="font-size: 1.5em; font-weight:600;">Education</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class=" activities" id="election">
                                    <span style="font-size: 4.0em;"><i class="fas fa-person-booth"></i></span>
                                    <p style="font-size: 1.5em; font-weight:600;">Elections</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class=" activities" id="enterprise">
                                    <span style="font-size: 4.0em;"><i class="fas fa-user-tie"></i></span>
                                    <p style="font-size: 1.5em; font-weight:600;">Enterprise</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class=" activities" id="media">
                                    <span style="font-size: 4.0em;"><i class="fas fa-compact-disc"></i> </span>
                                    <p style="font-size: 1.5em; font-weight:600;">Media</p>    
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class=" activities" id="postgrad">
                                    <span style="font-size: 4.0em;"><i class="fas fa-user-graduate"></i></span>
                                    <p style="font-size: 1.5em; font-weight:600;">Postgrad</p>   
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class=" activities" id="sport">
                                    <span style="font-size: 4.0em;"><i class="fas fa-volleyball-ball"></i></span>
                                    <p style="font-size: 1.5em; font-weight:600;">Sport</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class=" activities" id="society">
                                    <span style="font-size: 4.0em;"><i class="fas fa-users"></i></span>
                                    <p style="font-size: 1.5em; font-weight:600;">Societies</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
    </section>
    <hr>
    <!-- <section class="mt-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 text-center my-5">
                    <h2>Achievements</h2>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
                        <div class="card glow">
                            <img src="https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Best Student Award</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
                        <div class="card glow">
                            <img src="https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Best Student Award</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
                        <div class="card glow">
                            <img src="https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Best Student Award</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 mb-4 align-self-center justify-content-end text-center">
                    <a href="#" class="btn btn-outline-success btn-lg rounded-pill">See More</a>
                </div>
                
            </div>
        </div>
    </section> -->
    <section class="my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 text-center my-5">
                    <hr>
                    <h2>News</h2>
                    <hr>
                </div>
            </div>
            <div class="card-group">
                
                    <div class="card">
                      <img src="/assets/clean.jpg" style="height: 330px; object-fit: cover;" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Campus Clean-Up Drive a Huge Success</h5>
                        <p class="card-text">
                            The Student Union’s recent campus clean-up drive was a resounding success, with over 200 students participating in the
                            event. Held last Saturday, the initiative aimed to promote environmental awareness and community spirit. Volunteers
                            worked tirelessly to collect litter, plant trees, and beautify the campus grounds. The event concluded with a
                            celebratory picnic, where participants shared their experiences and discussed future sustainability projects. The
                            Student Union expressed gratitude to all who contributed, emphasizing the importance of collective effort in maintaining
                            a clean and green campus.
                        </p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      </div>
                    </div>
                    <div class="card">
                      <img src="/assets/gallery.jpg" style="height: 330px; object-fit: cover;" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Student Art Exhibition Draws Enthusiastic Crowd</h5>
                        <p class="card-text">
                            The annual Student Art Exhibition, held last Friday in the campus gallery, attracted a large and enthusiastic crowd.
                            Showcasing a diverse range of artworks from talented students across various disciplines, the event highlighted the
                            creativity and innovation thriving within the student body. Attendees were treated to paintings, sculptures, digital
                            art, and mixed media pieces, each telling unique stories and perspectives. The exhibition provided a platform for
                            budding artists to gain recognition and feedback from peers and faculty. Organizers praised the high level of
                            participation and the quality of the works displayed, looking forward to even more impressive showcases in the future.
                        </p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      </div>
                    </div>
            </div>
            <!-- <div class="row mt-4 justify-content-center">
                <div class="col-12-sm">
                    <a href="#" class="btn btn-secondary">See More</a>
                </div>
            </div> -->
        </div>
                    
    </section>
    
    <section id="footer" class="bg-dark text-center">
        <div class="text-light py-2">
            Faculty EDU &copy 2024. All Rights Reserved
        </div>
    </section>
            
</main>

<!-- ******************8888 -->
<% include ../partials/footer %>